@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


.navbar{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

Nav.Link {
  color: green;
}
NavDropdown.Item{
  background-color: slateblue;
}
